.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 990px;
}

.description h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    color: var(--dark-gray);
}
.description p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 auto;
    text-align: center;
    color: var(--dark-gray);
    width: 100%;
    max-width: 700px;
    
}
.description h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    color: var(--dark-gray);
}

.aulasSuporte {
    display: flex;
}

.aulasSuporte .aulas {
    text-align: center;
    padding: 1rem;
}
.aulas p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    width: 100%;
}
.aulas img {
    width: 100%;
    max-width: 150px;
}
@media (max-width: 425px) {
    .aulasSuporte {
        flex-direction: column;
    }
    .aulas p {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        width: 100%;
    }
    .aulas img {
        width: 100%;
        max-width: 100px;
    }
}